<div class="">
    <div class="flex justify-end p-4 text-3xl">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="onCancel()">&times;</button>
    </div>
    <h1 class="text-3xl text-center">Edit Task</h1>
    <div class="flex flex-col border-t-2 p-4 mx-auto">
        <div class="flex flex-row gap-4">
            <div class="my-2">
                <label class="text-xl mr-4 text-gray-500">Assigned To</label>
                <input type="text" [formControl]="assignedTo"
                    class="border-2 border-gray-500 px-4 py-2 w-full rounded" />
            </div>
            <div class="my-2">
                <label class="text-xl mr-4 text-gray-500">Status</label>
                <input type="text" [formControl]="status" class="border-2 border-gray-500 px-4 py-2 w-full rounded" />
            </div>
        </div>
        <div class="flex flex-row gap-4">
            <div class="my-2">
                <label class="text-xl mr-4 text-gray-500">Due Date</label>
                <input type="text" [formControl]="dueDate" class="border-2 border-gray-500 px-4 py-2 w-full rounded" />
            </div>
            <div class="my-2">
                <label class="text-xl mr-4 text-gray-500">Priority</label>
                <input type="text" [formControl]="priority" class="border-2 border-gray-500 px-4 py-2 w-full rounded" />
            </div>
        </div>
        <div class="my-2">
            <label class="text-xl mr-4 text-gray-500">Description</label>
            <input type="text" [formControl]="description" class="border-2 border-gray-500 px-4 py-2 w-full rounded" />
        </div>
    </div>
    <div class="flex justify-end gap-2 border-2 bg-gray-100 mt-4 px-2 py-4">
        <button class="px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400 focus:outline-none" (click)="onCancel()">
            Cancel
        </button>
        <button class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-blue-600 focus:outline-none"
            (click)="handleEditTask()">
            Save
        </button>
    </div>
</div>